!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %title<
      - b :SearchPage do
        Search for: '#{search_query}' :
      - b :PostTitle do
        #{post_title} : 
      - b :PostSummary do
        #{post_summary} : 
      = title
    
    - meta_var :image, 'Blog Title', ''
    - meta_var :font,  'Blog Title', 'Lucida Sans, Arial, Helvetica, sans-serif'
    - meta_var :font,  'Content', 'Lucida Sans, Arial, Helvetica, sans-serif'
    - meta_var :font,  'Controls', 'Lucida Sans, Arial, Helvetica, sans-serif'
    - meta_var :if,    "Show Tags", 1
    - meta_var :if,    "Tags have hash marks", 1
    - meta_var :if,    "Show link to Random post", 1
    - meta_var :if,    "Show link to Follow me", 1
    - meta_var :if,    "Show blogs I Follow", 1
    - meta_var :if,    "Show posts I Like", 1
    - meta_var :if,    "Show Post Notes", 1
    - meta_var :text,  'Disqus Shortname', ''
    - meta_var :text,  'Pages List Header Text', 'Also check-out:'
    

    %meta{ :name => 'description', :content => meta_description }
        
    %link{ :rel => :alternate, :type => 'application/rss+xml', :href => rss, :title => 'RSS' }
    %link{ :rel => :icon, :href => favicon }
    %link{ :rel => :stylesheet, :media => :screen, :href => "#{DEV_HOST}/css/colorbox.css", :type => 'text/css' }
    %link{ :rel => :stylesheet, :media => :all,    :href => "#{DEV_HOST}/css/styles.css", :type => 'text/css' }
    
    
    %style{ :type => 'text/css' } 
      :sass
        #title
          :font-family #{font 'Blog Title'}
        body
          :font-family #{font 'Controls'}
        .text-post, .link-post, .quote-post, .answer-post, .caption
          :font-family #{font 'Content'}
          .href
            :font-family #{font 'Controls'}
          
        .like_post
          :font-family #{font 'Content'}
          .post_info_top, .post_info_bottom
            :font-family #{font 'Controls'}
            
      = custom_css
    
    / 
      Theme design by Ryan T. Long <ryan@rtlong.com>
      This theme may be found at http://portfolio.rtlong.com/themes/thinkingofadreamihad
  %body{:class => "{block:PermalinkPage}permalink-page{/block:PermalinkPage}"}
    #title
      %a{ :href => '/' }
        - b :IfBlogTitleImage do
          %img{ :src => image('Blog Title'), :alt => title }
        - b :IfNotBlogTitleImage do
          = title
    #sidebar
      %form{ :method => 'get', :action => '/search' }
        #search
          %label.hidden{:for => 'q'} Search Query
          %input#q{ :name => 'q', :type => 'text', :value => search_query }
          %input.hidden{ :type => 'submit', :value => 'Search' }
      #description
        = description
      - b :HasPages do
        #pages
          - b :IfPagesListHeaderText do
            #header= text 'Pages List Header Text'
          %ul
            - b :Pages do
              %li
                %a{:href => url}= label
      %ul#meta
        - b :IfShowLinkToFollowMe do
          %li
            %a{ :href => "http://www.tumblr.com/follow/{Name}" } Follow
            Me
        - b :IfShowLinkToRandomPost do
          %li
            See something
            %a{ :href => "/random" } Random
        %li
          Browse my
          %a{ :href => '/archive' } Archive
        %li
          Get the 
          %a{ :href => rss } RSS Feed
          
      - b :IfShowBlogsIFollow do
        - b :Following do
          #following
            %h2 Blogs I Follow
            %ul#followed
              - b :Followed do
                %li
                  %a{ :href => followed_url, :title => followed_title }= followed_title
                  
      - b :IfShowPostsILike do
        - b :Likes do
          #likes_container
            %h2 Stuff I Like
            = likes :limit => 5, :width => 180, :summarize => 100
            %a{ :href => "http://www.tumblr.com/liked/by/#{name}" } More stuff I like
              
    #content
      - b :TagPage do
        #posts_filter
          .back
            %a{:href => '/'} All Posts
          %h2#tag_page_label Posts tagged <em>#{tag}</em>
      - b :DayPage do
        #posts_filter
          .back
            %a{:href => '/'} All Posts
          %h2#day_page_label Posts from #{day_of_month} #{month} #{year}
      - b :SearchPage do
        #posts_filter
          .back
            %a{:href => '/'} Cancel Search
          %h2#search_result_count #{search_result_count} results found for "#{search_query}"
          
      #posts
        - b :Posts do
          .post{ :id => "post-#{post_id}", :class => tags_as_classes }
            
            - b :Reblog do
              .reblog_info<
                Reblogged from&nbsp;
                %a{ :href => reblog_parent_url }><= reblog_parent_title
                - b :RebloggedFromReblog do
                  %span><
                    &nbsp;(originally from
                    %a{:href => reblog_root_url }><= reblog_root_title
                    )                         
                %span><= ":"
                
            .info
              - b :Date do
                .posted_at
                  %a{ :href => "/day/#{year}/#{month_number_with_zero}/#{day_of_month}", :title => "See all posts from #{short_month} #{day_of_month}" }<>= "#{short_month} #{day_of_month}"
                  %span.hidden.time &nbsp;at&nbsp;{24HourWithZero}:{Minutes}

              .permalink
                %a{ :href => permalink, :title => 'permalink to this post', :rel => :bookmark }<> permalink          

              - b :IfShowPostNotes do
                - b :NoteCount do
                  .note-count
                    %a{ :href => "#{permalink}#notes", :title => note_count_with_label, :rel => :bookmark }<>= note_count_with_label
                
              - b :IfDisqusShortname do
                .comment-count
                  %a.dsq-comment-count{ :href => "#{permalink}#disqus_thread", :title => "view comments on this post" } comments
                      
              - b :IfShowTags do
                - b :HasTags do
                  .tags
                    %ul
                      - b :Tags do
                        %li<
                          %a{:href => tag_url_chrono}><
                            - b :IfTagsHaveHashMarks do
                              = "##{tag}"
                            - b :IfNotTagsHaveHashMarks do
                              = tag
            
            - b :Text do
              .text-post.content
                - b :Title do
                  %h1= title
                .body 
                  = body
            
            - b :Link do
              .link-post.content
                .link
                  %h1
                    %a.external{ :href => url, :target => target }= name
                %a.href{ :href => url, :target => target }= url
                - b :Description do
                  .caption= description
            
            - b :Photo do
              .photo-post
                %h1.hidden Photo Post
                .photo{ :class => "{block:HighRes}has-high-res{/block:HighRes}" }
                  =link_open_tag
                  %img{ :src => photo_url_500, :alt => photo_alt }
                  =link_close_tag
                  .hover-info
                    - b :HighRes do
                      %a{ :href => photo_url_high_res } View Full Resolution

                - b :Caption do
                  .caption.content= caption
            
            - b :Photoset do
              .photoset-post
                %h1.hidden Photoset Post
                .show-player
                  %a{ :href => permalink }
                    %img{:src => "#{DEV_HOST}/images/photoset.png", :alt => "photoset"}/
                    View Photoset
                .player
                  .hide-player
                    %a{ :href => '' } Hide
                  = photoset_500
                - b :Caption do
                  .caption.content= caption
            
            - b :Video do
              .video-post
                %h1.hidden Video Post
                .show-player
                  %a{ :href => permalink }
                    %img{:src => "#{DEV_HOST}/images/video.png", :alt => "video"}/
                    Watch Video
                .player
                  .hide-player
                    %a{ :href => '' } Hide Video
                  = video_500
                - b :Caption do
                  .caption.content= caption
            
            - b :Audio do
              .audio-post
                %h1.hidden Audio Post
                - b :AlbumArt do 
                  .album-art
                    %img{ :src => album_art_url }
                .show-player
                  %a{ :href => permalink }
                    %img{:src => "#{DEV_HOST}/images/audio.png", :alt => "audio"}/
                    Listen to this Audio
                .player
                  .hide-player
                    %a{ :href => '' } Hide Player
                  = audio_player_grey
                .info
                  %dl
                    - b :TrackName do
                      %dt Track Name:
                      %dd= track_name
                    - b :Artist do
                      %dt Artist:
                      %dd= artist
                    - b :Album do
                      %dt Album:
                      %dd= album
                    - b :ExternalAudio do
                      %dt File URL
                      %dd
                        %a{ :href => external_audio_url }= external_audio_url
                  .playcount This track has been played #{formatted_play_count} times
                - b :Caption do
                  .caption.content= caption
                        
            - b :Quote do
              .quote-post
                %blockquote.quote{:class => length}<
                  %span.marks>< &ldquo;
                  = quote
                  %span.marks>< &rdquo;
                - b :Source do 
                  .source<
                    &mdash;&nbsp;
                    %cite= source
                    
            - b :Answer do 
              .answer-post
                .question
                  .icon Q:
                  %h4
                    %span.marks>< &ldquo;
                    = question
                    %span.marks>< &rdquo;
                  .asker
                    %cite
                      %img.avatar{:src => asker_portrait_url_16}
                      = asker
                .answer
                  .icon A:
                  %h4= answer
                  
            .clear
            
            - b :PermalinkPage do
              - b :IfDisqusShortname do
                :javascript
                  var disqus_url = "#{permalink}"; 
                  var disqus_title ="#{post_title}";
                  var disqus_identifier = "#{post_id}";
                %hr/
                #comments
                  %h2 Comments
                  #disqus_thread
                  %script{ :type => "text/javascript", :src => "http://disqus.com/forums/#{text 'Disqus Shortname'}/embed.js" }
                  %noscript Please enable JavaScript to view the comments.

              - b :IfShowPostNotes do 
                - b :PostNotes do
                  %hr/ 
                  #notes
                    %h2 Notes
                    .summary #{note_count_with_label} about this post
                    #notes_container.collapsed= post_notes
  
          - b :IndexPage do
            %hr/
          
      #footer
        - b :Pagination do
          #pagination
            - b :PreviousPage do
              %a.arrow_nav#previous_page{ :href => previous_page, :title => 'Newer posts', :rel => :prev } &larr;
            %span.status Page #{current_page} of #{total_pages}
            - b :NextPage do
              %a.arrow_nav#next_page{ :href => next_page, :title => 'Older posts', :rel => :next } &rarr;
              
        - b :PermalinkPagination do
          #pagination
            - b :PreviousPost do
              %a.nav#previous_post{ :href => previous_post, :title => 'Older Post', :rel => :prev } Older Post
              - b :NextPost do  
                |
            - b :NextPost do
              %a.nav#next_post{ :href => next_post, :title => 'Newer Post', :rel => :next } Newer Post
        
        - b :DayPagination do
          #pagination
            - b :PreviousDayPage do
              %a.nav#previous_day{ :href => previous_day_page, :title => "#{year}-#{month_number_with_zero}-#{day_of_month}", :rel => :prev } #{short_month} #{day_of_month}
              - b :NextDayPage do
                |
            - b :NextDayPage do
              %a.nav#next_day{ :href => next_day_page, :title => "#{year}-#{month_number_with_zero}-#{day_of_month}", :rel => :next } #{short_month} #{day_of_month}
        
        #back_to_index
          %a{ :href => "/", :rel => :home } Home
    
    
    %a#return_to_top.hidden{ :href => "#" }
      %img{ :src => 'http://assets.tumblr.com/images/jump_to_top_arrow.png', :alt => '^ Return to Top ^' }
      
    %script{ :type => 'text/javascript', :src => 'http://assets.rtlong.com/thinkingofadreamihad/theme_credit.js' }
    %script{ :src => "#{STATIC_HOST}/js/jquery.min.js", :type => 'text/javascript' }
    %script{ :src => "#{STATIC_HOST}/js/jquery.colorbox.min.js", :type => 'text/javascript' }
    %script{ :src => "#{STATIC_HOST}/js/jquery.scrollTo.min.js", :type => 'text/javascript' }
    - b :IfDisqusShortname do
      :javascript
        window.disqus_shortname = "#{text 'Disqus Shortname'}";
    %script{ :src => "#{DEV_HOST}/js/main.js", :type => 'text/javascript' }
