- Hamburglr::Tumblr::SAMPLE_DATA = true
!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title 
      = title
      - b :PostSummary do
        = ": #{post_summary}"
    - meta_var :color, "Background", "#ffffff"
    - meta_var :color, 'Text', '#000000'
    - meta_var :color, 'Secondary', '#888888'
    - meta_var :color, 'Minor', '#bbbbbb'
    - meta_var :color, 'Link', '#555555'
    - meta_var :font, 'Body', "'Helvetica Neue', Arial, Helvetica, sans-serif"
    - meta_var :if, 'Show Notes for Post', 0
    %meta{ :name => "description", :content => meta_description }
    %link{ :href => rss, :title => "RSS", :rel => "alternate", :type => "application/rss+xml" }
    %link{ :href => favicon, :rel => "icon" }
    %style{ :type => "text/css" } 
      :sass
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, ins, kbd, dfn, em, font, img, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
          :margin 0
          :padding 0
          :border 0
          :outline 0
          :font-size 100%
          :vertical-align baseline
          :background transparent

        body
          :line-height 1

        blockquote, q
          :quotes none

        del
          :text-decoration line-through

        ins
          :text-decoration none

        ol, ul
          :list-style none

        table
          :border-collapse collapse
          :border-spacing 0

        *:focus
          :outline 0
        html
          :background-color #{color :Background}
          
        body
          :font 12pt #{font :Body}
          :background-color #{color :Background}
          :color #{color :Text}

          &.dark
            :text-shadow #{color :Background} 0 0 1px

        #body
          :background-color #{color :Background}
          :padding 1.5em 0.25em

        #content
          :position relative
          :width 500px
          :margin 0 auto
          
        #sidebar
          :position fixed
          :top 20px
          :right 20px
          :width 200px

        h1
          :font-size 3em
          :line-height 1
          :padding 0.5em 0 1em
          :text-align center

          a
            :color #{color :Text}
            :padding 0 0.25em
            :font-weight bold

        h2, h3
          :line-height 18pt

        p, pre, ul, ol, blockquote, form
          :margin 9pt 0 18pt
          :line-height 18pt

        blockquote
          :padding-left 1em
          :margin-left 2pt
          :border-left 0.25em solid #{color :Minor}

        pre
          :overflow-x auto
          :font-size 11pt

        sup, sub
          :height 0
          :line-height 1
          :vertical-align baseline
          :_vertical-align bottom
          :position relative

        sup
          :bottom 0.5ex

        sub
          :top 0.5ex

        sup a
          :font-weight normal !important
          :padding 0 1px

        hr
          :height 0
          :margin 0 0 18pt
          :border
            :style solid
            :color #{color :Minor}
            :width 2pt 0 0

        #description
          :position absolute
          :left 530px
          :color #{color :Minor}
          :font-size 11pt
          :width 10em

          p, form
            :margin-top 0

          a
            :color #{color :Secondary}

            &:hover
              :color #{color :Text}

          form .input
            :background #{color :Background}
            :color #{color :Secondary}
            :font-size 10pt
            :text-transform lowercase
            :width 90%
            :border
              :style solid
              :color #{color :Minor}
              :width 0 1px 1px 0

          .submit
            :height 0
            :overflow hidden
            :display block

          .meta
            :word-spacing 0.25em
            :font-size 10pt
            :text-transform uppercase

            a
              :color #{color :Minor}

              &:hover
                :color #{color :Text}

        #posts
          :margin 0

        .post
          :position relative
          :list-style none
          :margin-bottom 4.5em

          ul li
            :list-style square

          img
            :max-width 100%

        .post-body
          h3
            :font-size 1.25em
            :position relative

          a
            :font-weight bold
            :color #{color :Link}
            :border-bottom 1px solid transparent

            &:hover
              :color #{color :Text}
              :border-bottom-color #{color :Minor}

          .image a
            :border-width 0

          ul
            ul, ol
              :margin-left 1.5em

          ol
            ol, ul
              :margin-left 1.5em

          blockquote
            ul, ol
              :margin-left 1.5em

        .permalink
          :font-size 11pt
          :position absolute
          :right 530px
          :text-align right

          a
            :color #{color :Minor}
            :white-space nowrap
            :padding 0 0 4.5pt 9pt

            &:hover
              :color #{color :Text}

        .caption, .cite
          :font-size 11pt
          :margin-top 9pt

        .caption p
          :margin-top 18pt

        .text-post
          :position relative
          :top -2pt

          h3
            :margin-bottom 9pt

        .link-post
          :position relative
          :top -2pt

          h3
            :display inline
            :padding-right 9pt

          a
            :color #{color :Text}

            &:hover
              :color #{color :Secondary}

            &.link
              :color #{color :Link}

              &:hover
                :color #{color :Text}

      = custom_css
  %body
    #body
      #sidebar
        %form{ :method => "get", :action => "/search" }
          %input#q.input{ :name => "q", :type => "text", :value => search_query }
          %span.submit
            %input{ :type => "submit", :value => "Search" }
        %p#description= description
        %p.meta
          %a{ :href => "/archive" } Archive
          &bull;
          %a{ :href => rss } RSS
      #content
        %h1
          %a{ :href => "/" }= title
        %ul#posts
          - b :Posts do
            %li.post
              %h2.permalink
                %a{ :href => permalink, :title => note_count_with_label }= "#{day_of_month} #{month} #{year}"
                
              - b :Regular do
                .text-post
                  - b :Title do
                    %h3= title
                    = body
              
              - b :Link do
                .link-post
                  %h3
                    %a.link{ :href => url }= name
                  - b :Description do
                    = description
              
              - b :Photo do
                .image-post
                  .image
                    %a{ :href => link_url }
                      %img{ :src => photo_url_high_res, :alt => photo_alt }
                  - b :Caption do
                    .caption= caption
                    
              - b :IfShowPostNotes do
                - b :PostNotes do
                  = post_notes
          
        #footer
          - b :PreviousPage do
            %a{ :href => previous_page, :title => "Newer posts" } &larr;
          
          - b :NextPage do
            %a{ :href => next_page, :title => "Older posts" } &rarr;
